.dashboard {
  margin-top: 100px;
  padding: 0px 30px;
  padding-bottom: 30px;
}
.single__card {
  background: var(--card-01-bg);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.single__card:nth-child(1) {
  background: var(--card-01-bg);
}
.single__card:nth-child(2) {
  background: var(--card-02-bg);
}
.single__card:nth-child(3) {
  background: var(--card-03-bg);
}
.single__card:nth-child(4) {
  background: var(--card-04-bg);
}
.card__content h4 {
  color: var(--heading-color);
  font-size: 1.4rem;
  font-weight: 400;
}
.card__content span {
  color: var(--heading-color);
  font-size: 2rem;
}
.card__icon {
  font-size: 2rem;
  font-weight: 400 !important;
  color: var(rgba(255, 255, 255, 0.845));
}
.dashboard__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}

.statics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  margin-top: 2rem;
}
.stats {
  background: var(--primary-color);
  padding: 30px;
  border-radius: 5px;
  height: 320px;
  padding-bottom: 50px;
}
.tooltip_style {
  background: var(--body-bg) !important;
  color: #fff;
}
.stats_title {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.recommend__cars-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  column-gap: 2rem;
}

.recommend__car-card {
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.recommend__car-card:nth-child(1) {
  background: var(--recommend-car01-bg);
}
.recommend__car-card:nth-child(2) {
  background: var(--recommend-car02-bg);
}
.recommend__car-card:nth-child(3) {
  background: var(--recommend-car03-bg);
}
.recommend__car-top h5 {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: var(--body-bg);
  margin-bottom: 10px;
}
.recommend__car-top h5 span i {
  font-size: 1.2rem;
}
.recommend__car-bottom h4 {
  font-size: 1.3rem;
  margin: 10px 0px;
}
.recommend__car-other {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recommend__icons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.recommend__icons p:nth-child(1) {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.todo__task-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  column-gap: 2rem;
  row-gap: 2rem;
}

.todo__card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #eee;
  color: whitesmoke;
  /* background: var(--recommend-car03-bg); */
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.skelton_todo__card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #eee;
  color: whitesmoke;

  background: linear-gradient(
    to right,
    #d5d1e4,
    #58768a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.todo__card-bottom h4 {
  font-size: 1.3rem;
  margin: 10px 0px;
}
.skelton_todo__card-bottom h4 {
  font-size: 1.3rem;
  margin: 10px 0px;
}
.skelton_todo__card-other {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo__card-other {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo__card-icons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.skelton_todo__card-icons {
  width: 100%;
  display: flex;
}
.skelton_todo__card-icons p {
  width: 20px;
  margin-left: 10px;
}
.skelton_todo__description {
  font-weight: 500;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 254, 254);
  padding-bottom: 20px;
}
.todo__description {
  font-weight: 500;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 254, 254);
  padding-bottom: 20px;
}

.todo__card-icons p:nth-child(1) {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.task__status {
  background: white;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
}
.skelton_task__status {
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  width: 100px;
}
.task__edit {
  cursor: pointer;
  padding: 5px;
  transition: 0.2s;
}
.task__edit:hover {
  background: rgb(241, 248, 144);
  color: rgb(13, 13, 13);
  font-size: 18px;
  box-shadow: 1px 2px 5px rgb(28, 28, 28);
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s;
}
.task__delete {
  cursor: pointer;
  padding: 5px;
  transition: 0.2s;
}
.task__delete:hover {
  background: rgb(251, 69, 4);
  color: rgb(13, 13, 13);
  font-size: 18px;
  box-shadow: 1px 2px 5px rgb(28, 28, 28);
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s;
}

.create__task-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 2rem;
}
.create__task-form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.field {
  background-color: #4e4376;
  padding: 30px;
  width: 40vw;
  border-radius: 5px;
}
.field h4 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.field input {
  width: 100%;
  border: none;
  height: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.field select {
  width: 100%;
  border: none;
  height: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.field textarea {
  margin-top: 10px;
  border: none;
  height: 25vh;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}
.p_input {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.p_input button {
  width: 20%;
  border: none;
  background: rgb(32, 88, 147);
  color: #fff;
  cursor: pointer;
}
.green {
  color: green;
}
.yellow {
  color: yellow;
}
.red {
  color: red;
}
.profile_wrap {
  width: 100%;
  background: #2b5876;
  display: flex;
  justify-content: space-between;
}
.profile_head img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.profile_head {
  height: 500px;
  width: 600px;
  background: #4e4376;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.profile_head_heading {
  margin-top: 10px;
  padding: 10px;
}
.profile_form {
  height: 500px;
  width: 600px;
  background: #4e4376;
  padding: 10px;
}
.profile_form {
  height: 600px;
  width: 600px;
  background: #39334e;
  padding: 10px;
}
.profile_form img {
  height: 300px;
  object-fit: contain;
}
.profile_form form {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.profile_form form input {
  height: 40px !important;
}
.react-code-input {
  display: flex !important;
  column-gap: 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
